<h1 class="text-center">Questions</h1>

<center><div id="tag_cloud">
  <% tag_cloud Question.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div></center>
<br>
<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.title, question_path(question)%></td>
        <td><%= truncate(question.content) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
