<h1>Search results for "<%= params[:search] %>"</h1>
<% if @questions.empty? %>
  Sorry, nothing matches your search...
<% else %>
  <% @questions.each do |question| %>
    <h3><%= link_to question.title, question_path(question.id) %></h3>
    <p><%= question.content %></p>
  <% end %>
<% end %>
