<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to_image user.image_url, user_path(user.id), class: "img-circle img-responsive", width: "50", height: "50" %><br>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

<br>
