<!-- Static navbar -->
<div class="navbar navbar-default navbar-fixed-bottom" >
  <div class="container-fluid">
    <p class="text-muted">Made with <span class="glyphicon glyphicon-heart"></span> by <a href="https://github.com/DanFerrer">Dan</a>, <a href="https://github.com/antropova">Masha</a>, <a href="https://github.com/JayanaJ">Jayana</a>, and <a href="https://github.com/tiffanyhaltom">Tiffany</a> <p class="text-muted"><a href="http://flatironschool.com/">@flatironschool</a></p>
  </div>
</div>