<div class="background-image"></div>
<div class="content text-center">
  <h1 class="page-header">Welcome to FlatironExchange</h1>
  <%=fa_icon "github", class: "fa-3x"%>
  <%= link_to "Sign Up with github", "/auth/github", style: "color: #fff"%>
</div>

<%= render 'welcome/footer' %>
