<h1 class="text-center">FlatironExchange</h1>
<h2>Community Activity</h2>
<% @activities.each do |activity| %>
  <img src="<%= current_user.image_url%>" class="img-circle" height="20" align="left">
  <%= ActivityPresenter.new(activity, self).render_activity %>
<% end %>
